body{
    margin:0;
    padding: 0;
    height:100%;
    font-weight: 200;
    color: black;
}

header{
    background-color: orangered;
    margin: 0;
    padding: 0;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 55px;
    width: 150px;
    margin:15px;
}

a{
    text-decoration: none;
    color:white;
}

.links{
    display: flex;
    justify-content: space-around;
    gap:45px;
}

.links i{
    margin-left:10px;
}

.app{
    border: 1px solid white;
    padding:0px 18px;
    border-radius: 12px;
}

.sign-in{
    background-color: black;
    padding:0px 28px;
    border-radius: 12px;
}

.banner{
    background-color:orangered;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-top:100px ;
    gap:20px;
}

.banner_info h1{
    text-align: center;
    margin:90px;
    color:white;
}

.banner_img{
    height:450px;
    width:250px;
}

.banner h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.banner_ip{
    display:flex;
    justify-content: center;
    gap:30px;
    margin:30px;
}

.banner_ip select,input{
    padding: 20px;
    font-size: large;
    color: grey;
    border-radius: 20px;
    padding-inline: 20px;
    border: 0px;
}

.banner section{
    width: 30vw;
}

.banner_ip input{
    width: 30vw;
}

.banner_img2{
    height: 280px;
    width: 320px;
}

.banner_foodimg{
    display: flex;
    justify-content: center;
}

.food_options{
    margin: 130px;
}

.food-rows,.food-rows1,.food-rows2 {
    display: flex;
    flex-direction: column;  
    overflow-x: auto;       
    scroll-behavior: smooth;
    gap: 20px;
}

.food-rows::-webkit-scrollbar {
    display: none;
}

.food-rows1::-webkit-scrollbar {
    display: none;
}

.food-rows2::-webkit-scrollbar {
    display: none;
}

.food-row {
    display: flex;
    gap: 20px;
}

.food-image {
    height: 154px;
    width: 190px;
}

.food-image1 {
    margin-top: 20px;
    height: 194px;
    width: 180px;
}

.food_options i{
    padding:10px;
    background-color: lightgray;
    border-radius: 100%;
}

.insta-img h3{
    text-align: center;
    height: 194px;
    width: 180px;
}

.image-div{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    color: white;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 330px;
    border-radius: 20px;
}

#img1{
    background-image: url(images/restaurant1.jpg);
}

#img2{
    background-image: url(images/restaurant2.jpg);
}

#img3{
    background-image: url(images/restaurant3.jpg);
}
#img4{
    background-image: url(images/restaurant4.jpg);
}
#img5{
    background-image: url(images/restaurant5.jpg);
}
#img6{
    background-image: url(images/restaurant6.jpg);
}
#img7{
    background-image: url(images/restaurant7.jpg);
}
#img8{
    background-image: url(images/restaurant8.jpg);
}


.image-div h2{
    margin: 20px;
}

.text-div{
    color: grey;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin:0;
    padding-bottom: 0;
}

.Table{
    background-color: lightgray;
    border-radius: 50px;
    display: inline-flex;
    padding:6px;
    margin:10px;
}

.restaurant{
    border: 1px solid black; 
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px lightgrey;
}