body{
    margin:0;
    padding: 0;
    height:100%;
    font-weight: 200;
    color: white;
}

header{
    background-color: orangered;
    margin: 0;
    padding: 0;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 55px;
    width: 150px;
    margin:15px;
}

a{
    text-decoration: none;
    color:white;
}

.links{
    display: flex;
    justify-content: space-around;
    gap:45px;
}

.links i{
    margin-left:10px;
}

.app{
    border: 1px solid white;
    padding:0px 18px;
    border-radius: 12px;
}

.sign-in{
    background-color: black;
    padding:0px 28px;
    border-radius: 12px;
}

.banner{
    background-color:orangered;
    margin: 0;
    padding: 0;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding-top:30px ;
}

.banner_img{
    height:450px;
    width:250px;
}

.banner h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
}

